*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color:lightgray;
	text-align: center;
	font-family: Arial, sans-serif;

}

h1{
	 margin-top:90px;
	color:darkblue;
	font-size: 90px;
}
#content-el{
	color:green;
	font-size: 90px;
}
button{
	margin-top:20px;
	margin-right: 10px;
	background-color: transparent;
	border:2px solid black;
	border-radius: 15px;
	color:black;
	width:150px;
	height: 50px;
	cursor: pointer;
}

button:hover{
	border:2px solid darkblue;
	color:darkblue;
}

@media screen and (max-width: 510px){
	h1{
		font-size: 5.5rem;
	}
	#content-el{
		font-size: 80px;
	}
	button{
		font-size: 10px;
		width:130px;
		height: 50px;
	}
}
@media screen and (max-width: 488px){
	h1{
		font-size: 5rem;
	}
	#content-el{
		font-size: 70px;
	}
	button{
		font-size: 10px;
		width:100px;
		height: 30px;
	}
}
@media screen and (max-width: 342px){
	h1{
		font-size: 4.5rem;
	}
	#content-el{
		font-size: 60px;
	}
	button{
		font-size: 8px;
		width:90px;
		height: 20px;
	}
}
@media screen and (max-width: 342px){
	h1{
		font-size: 3.5rem;
	}
	#content-el{
		font-size: 50px;
	}
	button{
		font-size: 5px;
		width:70px;
		height: 15px;
	}
}
@media screen and (max-width: 260px){
	h1{
		font-size: 2.5rem;
	}
	#content-el{
		font-size: 40px;
	}
	button{
		font-size: 5px;
		width:60px;
		height: 10px;
	}
}
@media screen and (max-width: 225px){
	h1{
		font-size: 2rem;
	}
	#content-el{
		font-size: 35px;
	}
	button{
		font-size: 5px;
		width:50px;
		height: 10px;
	}
}